__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/
staticfiles/
media/videos/*.mp4
!media/videos/sunny.mp4
!media/videos/cloudy.mp4
!media/videos/rain.mp4
!media/videos/snow.mp4
!media/videos/thunderstorm.mp4
!.gitkeep

*:Zone.Identifier
