{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'admin/custom-admin.css' %}">
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="/admin/">Telegram Weather Publisher Admin</a></h1>
{% endblock %}
